<div>
  <Navigation></Navigation>

  <div class="grid grid-cols-1 gap-4">
    <div>
      <div
        class="bg-gray-200 flex justify-right w-3/3"
        style="height: 90px; border-bottom: 0.5px solid rgba(128, 128, 128, 0.144);"
      >
        <p
          class="text-gray-600 font-bold pt-2 w-2/3 p-12 text-left"
          style="font-size: 30px;"
        >
          New Event <br />
          <span style="font-size: 10px;" class="flex justify-left"
            >Create your event here.
          </span>
        </p>
      </div>

      <div style="margin-left: 50px; margin-right: 50px; margin-top: 50px;">
        <input
          type="text"
          name="eventname"
          v-model="eventname"
          class="block border p-2 bg-white w-full h-10 focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600"
          placeholder="Event Name*"
        />

        <input
          type="text"
          name="eventlocation"
          v-model="eventlocation"
          class="block border p-2 bg-white w-full h-10 focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600"
          placeholder="Event Location*"
        />

        <div class="grid grid-cols-2 gap-4">
          <div>
            <input
              type="date"
              name="eventdate"
              v-model="eventdate"
              class="block border p-2 bg-white w-full h-10 focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600"
              placeholder="Date*"
            />
          </div>
          <div>
            <input
              type="time"
              name="eventtime"
              v-model="eventtime"
              class="block border p-2 bg-white w-full h-10 focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600"
              placeholder="Time*"
            />
          </div>
        </div>
        <textarea
          type="text"
          name="eventdescription"
          v-model="eventdescription"
          rows="10"
          class="block border p-2 bg-white w-full focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600"
          placeholder="Event Description*"
        />

        <input
          id="file-selector"
          type="file"
          name="photos"
          accept="image/png, image/gif, image/jpeg"
          @change="setProjectFiles"
          class="block border p-2 bg-white w-full h-10 focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600"
          placeholder="Photos*"
        />

        <button
          type="submit"
          style="width: 140px; position: absolute; right: 50px; "
          class="right-0 w-1/3 h-9 bg-blue-500 text-sm font-semibold mt-2 rounded-sm text-gray-100 focus:outline-none hover:bg-blue-600"
          @click="onClickSaveEvent()"
        >
          Save Event
        </button>
      </div>
    </div>
  </div>
</div>
