<div
  class="max-w-sm mx-auto rounded shadow-lg md:max-w-md my-10 p-6 pb-10 bg-gray-100"
>
  <div class=" flex justify-center border-b border-gray-300">
    <h1 class="font-bold text-lg text-gray-400 pb-1">
      Please authenticate to continue
    </h1>
  </div>
  <div class=" pt-6">
    <form class=" text-center">
      <input
        type="text"
        name="displayname"
        class="block border p-2 bg-white w-full h-10 focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 text-gray-600"
        placeholder="Display name*"
      />
      <input
        type="phone"
        name="userphone"
        class="block border p-2 bg-white w-full h-10 focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600"
        placeholder="Phone Number*"
      />
    
      <div class="flex justify-center">
        <p
          class="text-gray-600 font-semibold pt-2 w-2/3"
          style="font-size: 9.5px;"
        >
          By clicking Agree & Join, you agree to the Website User Agreement,
          Privacy Policy, and Cookie Policy. You will also receive a message to confirm your phone number.
        </p>
      </div>
      <button
        type="submit"
        class="w-80 h-9 bg-blue-500 text-sm font-semibold mt-2 rounded-sm text-gray-100 focus:outline-none hover:bg-blue-600"
      >
        Agree & Join
      </button>
    </form>
  </div>
</div>
